.about{
    min-height: 100vh;
    width: 100%;

    overflow-x: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(242, 243, 234);

    padding-bottom: 50px;
    padding-top: 50px;
}

.text{
    text-align: left;
    
    padding: 10px;
    border-radius: 5%;
    width: 600px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

    line-height: 1.8;
    color: rgb(35, 33, 33);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about img{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    /*border-radius: 30px;*/
    width: 750px;
    max-width: 100%;
}