.home {
    margin-top: 100px;

    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    align-items: left;
    flex-direction: column;
  }
  
.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 20px;
    box-sizing: border-box;
}

.headerContainer h1 {
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: black;
}

.headerContainer p {
    padding-top: 40px;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}

.headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #2d373e;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.headerContainer button:hover {
    background-color: #07090a;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.3s ease-in;
}