.navbar{
    height: 110px;
    width: 100%;
    background-color: #8abe8e;
    box-shadow: 3px ;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 10px;
    white-space: nowrap;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
}

.navbar #close .hamburgerMenu{
    display: none;
}

.navbar #open .hamburgerMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 90px;
    margin-left: -10px;
    height: 200px;
    width: 150px;
    position: fixed;
    z-index: 1;
    background-color: #81b488;
    border-radius: 0px 0px 40px 0px;  
    border-right: 1px solid #437e62;
    border-bottom: 1px solid #437e62;
}

.hamburgerMenu ul{
    margin-top: 0;
    margin-left: -12px;
    display: flex;
    flex-direction: column; 
    list-style: none;
}

.hamburgerMenu ul li{
    padding-top: 10px;
}

.hamburgerMenu ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.navbar #open .hamburgerMenu ul li a:hover{   
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5 ease-in;
    border-radius: 10px;
}

.hamburgerMenu ul li a:hover{
    box-shadow: #121619;
}

#openIcon{
    color: #121619;
}

.active{
    color: #121619!important;
}

.navbar .leftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.navbar .leftSide img{
    margin: 0;
    padding: 0;
    width: 70px;    
}

.navbar .rightSide ul li{
    display: inline-block;
    padding: 8px 12px;
}

.navbar .rightSide ul li a{
    border-radius: 12px;
    padding: 4px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-weight: bold;
}

.navbar .rightSide ul li a:hover{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    transition: 0.1s ease-in;
}

.navbar #open img {
    display: none;
}

.navbar #close img {
    display: inherit;
}

.burger{
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

@media only screen and (min-width: 200px) {
    .navbar .rightSide{
        display: none;
    }
    .burger {
        display: block;
    } 
}

@media only screen and (min-width: 700px) {
    .navbar .rightSide{
        display: block;
    }
    .navbar #open .hamburgerMenu {
        display: none;
    }
    .navbar #open img {
        display: block;
    }
    .burger {
        display: none;
    }
}

@media only screen and (max-width: 200px) {
    .navbar .rightSide{
        display: none;
    }
    .burger {
        display: block;
    } 
    .navbar .leftSide img{
        display: none;
    }
}
